.main{
    height: 100vh;
    display: flex;
    background-color: #084c61;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.formDiv{
    padding: 1rem;
    width: 50%;
    background-color: #177e89;
    border-radius: 8px;
}

.heading{
    padding-bottom: 1rem;
}

.btn{
    background-color: #084c61 !important;
    color: white !important;
}

.btn :hover{
    background-color: #084c61 !important;
    color: white !important;
}